
.card-container {
    display: flex;
    flex-wrap: wrap;
  }
  
  .card {
    width: 300px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin: 10px;
    overflow: hidden;
    transition: transform 0.3s ease;
    height: 330px;
    background-size: cover;
  }
  
  .card:hover {
    transform: translateY(-5px);
  }
  
  .card-img {
    width: 100%;
    height: 200px;
    object-fit: cover;
  }
  
  .card-content {
    padding: 16px;
  }
  
  .card-title {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 8px;
  }
  
  .card-author {
    font-size: 14px;
    color: #666;
    margin-bottom: 8px;
  }
  
  .card-price {
    font-size: 16px;
    font-weight: bold;
  }
  
  .card-button {
    background-color: #f75c03;
    color: #fff;
    padding: 8px 16px;
    border-radius: 4px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    transition: background-color 0.3s ease;
  }
  
  .card-button:hover {
    background-color: #e64900;
  }

  .head{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
   
    height: 500px;
    border: 1px solid;
    background-image: url("https://images.unsplash.com/photo-1541963463532-d68292c34b19?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=388&q=80");
    background-repeat: no-repeat;
    background-size: cover;
  }
  input{
   padding: 20px;
   width: 77rem;
   border-radius: 50px;
   margin-top: 55px;
  }
  h1{
    font-size: 80px;
  }
  


/* .card-container {
    display: flex;
    flex-wrap: wrap;

  }
  
  .card {
    flex: 0 0 300px; 
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 80px;
    margin: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #f9f9f9;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .card-title {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 5px;
  }
  
  .card-author {
    font-size: 14px;
    color: #666;
    margin-bottom: 5px;
  }
  
  .card-price {
    font-size: 16px;
    font-weight: bold;
  }
   */